@font-face {
  /* font-weight: 400 */
  font-style: normal;
  src: local("Pretendard400"), local("Pretendard400");
  font-family: "Pretendard400";
  src: url("../../src/assets/fonts/Pretendard-Regular.woff2") format("woff2");
}
@font-face {
  /* font-weight: 600 */
  font-style: normal;
  src: local("Pretendard600"), local("Pretendard600");
  font-family: "Pretendard600";
  src: url("../../src/assets/fonts/Pretendard-SemiBold.woff2") format("woff2");
}

.sbdocs-content {
  font-size: 14px;
  * {
    font-family: "Pretendard400";
  }
  p,
  table th {
    font-family: "Pretendard400";
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Pretendard600";
  }
}
