@font-face {
  /* font-weight: 400 */
  font-style: normal;
  src: local("Pretendard400"), local("Pretendard400");
  font-family: "Pretendard400";
  src: url("./assets/fonts/Pretendard-Regular.woff2") format("woff2");
}
@font-face {
  /* font-weight: 600 */
  font-style: normal;
  src: local("Pretendard600"), local("Pretendard600");
  font-family: "Pretendard600";
  src: url("./assets/fonts/Pretendard-SemiBold.woff2") format("woff2");
}

* {
  font-family: "Pretendard400";
}

/* Typography */
html {
  /* default (p3) */
  font-size: 15px;
  font-family: "Pretendard400";
  overflow-x: hidden;
}
p.display1 {
  /* display1 */
  font-family: "Pretendard600";
  font-size: 48px;
}
p.display2 {
  /* display2 */
  font-family: "Pretendard600";
  font-size: 44px;
}
p.display3 {
  /* display3 */
  font-family: "Pretendard600";
  font-size: 40px;
}
h1,
.heading1 {
  font-family: "Pretendard600";
  font-size: 36px;
}
h2,
.heading2 {
  font-family: "Pretendard600";
  font-size: 33px;
}
h3,
.heading3 {
  font-family: "Pretendard600";
  font-size: 30px;
}
h4,
.title1 {
  font-family: "Pretendard600";
  font-size: 27px;
}
h5,
.title2 {
  font-family: "Pretendard600";
  font-size: 24px;
}
h6,
.title3 {
  font-family: "Pretendard600";
  font-size: 21px;
}
p.large,
.p1 {
  /* p1 */
  font-size: 19px;
}
p.medium,
.p2 {
  /* p2 */
  font-size: 17px;
}
p,
.p3,
.body {
  /* default (p3, bodySmall) */
  font-size: 15px;
}
p.small,
.p4 {
  /* p4 */
  font-size: 13px;
}
label.large {
  /* label1 */
  font-family: "Pretendard600";
  font-size: 19px;
}
label {
  /* default (label2, labelMedium) */
  font-family: "Pretendard600";
  font-size: 17px;
}
label.small {
  /* label3 */
  font-family: "Pretendard600";
  font-size: 15px;
}
/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
